@import "~bootstrap/scss/bootstrap.scss";

.container{
    background-color: mediumslateblue;
    margin: auto;
    border-radius: 1rem;
    width: fit-content;

}
.suprim{
    background-color: gainsboro;
    border-radius: 5px;
}
.ol.color{
    background-color: rgb(161, 161, 161);
}
.li.color{
    background-color: rgb(161, 161, 161);
}
.mybox{
    background-color: blueviolet;
}